<form  #clientForm="ngForm" (ngSubmit)="onSubmit()" novalidate>

    <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid && lastName.touched && !lastName.valid ">
        <p>Please correct errors below</p>
    </div>

    <div class="form-group pl-3 pt-3">
        <label for="firstName">First Name</label>
        <input required minlength="2" maxlength="100" [(ngModel)]="clientModel.firstName" name="firstName" #firstName="ngModel" type="text"
            class="form-control col-3 " id="firstName" placeholder="Enter your first name">

        <div class="text-danger" *ngIf="firstName.touched && !firstName.valid">
            <div *ngIf="firstName.errors?.required">First name is required</div>
            <div *ngIf="firstName.errors?.minlength">First name should be minimum 3 characters </div>
            <div *ngIf="firstName.errors?.maxlength">First name should be maximum 100 characters </div>
        </div>
    </div>

    <div class="form-group pl-3">
        <label for="lastName">Last Name</label>
        <input required minlength="2" maxlength="100" [(ngModel)]="clientModel.lastName" name="lastName" #lastName="ngModel" type="text"
            class="form-control col-3" id="lastName" placeholder="Enter your last name">

        <div class="text-danger" *ngIf="lastName.touched && !lastName.valid">
            <div *ngIf="lastName.errors?.required">Last name is required</div>
            <div *ngIf="lastName.errors?.minlength">Last name should be minimum 3 characters </div>
            <div *ngIf="lastName.errors?.maxlength">Last name should be maximum 100 characters </div>
        </div>
    </div>

    <div class="p-3">
        <button [disabled]="!clientForm.form.valid" type="submit" class="btn btn-dark">Submit</button>
    </div>
</form>