<form #delayForm="ngForm" (ngSubmit)="onSubmit()" novalidate>


    <div class="form-group pl-3 pt-4">
        <label for="id">Identification number</label>
        <input required [(ngModel)]="delayLoanModel.id" name="id" #id="ngModel" type="number" class="form-control col-3" id="id" placeholder="Enter your identification number">

        <div class="text-danger" *ngIf="id.touched && !id.valid">
            <div *ngIf="id.errors?.required">Id is required</div>
        </div>
    </div>


    <div class="p-3">
        <button [disabled]="!delayForm.form.valid" type="submit" class="btn btn-dark">Submit</button>
    </div>

</form>